<h2 class="mt-2">Nuestra misión</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <p>
                        Nuestra misión es preservar miles de vidas con las Contribuciones
                        que cualquier persona puede hacer mediantes esta plataforma.

                        Es un orgullo para nosotros poder ayudar a tantas personas.

                        Gracias a todos
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="../../../assets/mision.jpg" height="400px" width="600px">
            </div>
        </div>
    </div>
</div>

<footer class="mt-5">
    Derechos Reservados : Sosa Figueroa Freddy Jonathan
</footer>