.sidebar {
    
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 20px;
    background-color: #f8f9fa;
    width: 40%;
  }

  .sidebar .nav-link {
    color: #333;
  }

  .content {
    margin: auto;
  }