<div class="container">
    <div class="row">
        <h4>Información de Contacto</h4>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img 
                        class="img"
                        width="200px"
                        heigth="300px"
                        alt = "Foto"
                        src="../../../assets/foto.jpg"
                    />
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <label for="nombre"><b>Apellidos:</b>  </label>
                    </div>
                    <div class="col-md-6">
                        <label>Sosa Figueroa</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="nombre"><b>Nombres:</b></label>
                    </div>
                    <div class="col-md-6">
                        <label>Freddy Jonathan</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="nombre"><b>Email:</b></label>
                    </div>
                    <div class="col-md-6">
                        <label>freddy.sosaf@ug.edu.ec</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="nombre"><b>Celular:</b></label>
                    </div>
                    <div class="col-md-6">
                        <label>0939263003</label>
                    </div>
                </div>
            
            </div>

        </div>
        <div class="col-md-2">
            
        </div>

    </div>
</div>